body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  width: 100%;
  display: flex;
}

.box{
  width: 650px;
  height:40%;
  margin: 0px;
  box-sizing: border-box;
  font-size: 30px;
}

.box2{
  width: 650px;
  height:40%;
  margin: 0px;
  box-sizing: border-box;
  font-size: 30px;
  position: absolute;
}

.box3{
  width: 650px;
  height:40%;
  margin: 0px;
  background-image: url("images/flat_right.png");
  box-sizing: border-box;
  font-size: 30px;
}