body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.box{
  width: 650px;
  height:40%;
  margin: 10px;
  box-sizing: border-box;
  font-size: 11px;
}

.box2{
  width: 650px;
  height:40%;
  margin: 10px;
  box-sizing: border-box;
  font-size: 11px;
}

.button{
  display: inline-flex;
  margin: 5px;
  height: fit-content;
  border-radius: 5px;
  font-family: 'Quicksand', sans-serif;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.checkList{
  display: inline-flex;
  margin: 5px;
}

.house{
  position: relative;
  margin: 10px;
}

.overlay{
  position:absolute;
}
